# TaxonMatcher.config
# -------------------
# Taxon Matcher configuration file
# Note that this file is executed, and must therefore contain valid Perl syntax
# (It is also a security risk - do not let anyone add arbitrary code to this file)
# (To be replaced by a proper Perl config file package)

$server=          "localhost";
$userName=        "root";
$password=        "mysql";        

$OS=              "Windows";   # or "Linux"; not used at present
$user=            "Luvie";     # or "Richard" or "Yuri"; not used at present
$driver=          "ODBC";      # or "MySQL";  refers to the driver, not the DBMS

$databaseImport1= "col2010ac";
$databaseImport2= "col2011acv9";
@edition=         ("ac2010",    "col20101105");
@database=        ("col2010ac", "col2011acv9");
$taxonList=       "CoLTTC";    #"CoLCTL";

# Name of file for logging; "" = no logging
$logFileName=     "TaxonMatcher.log";

# Whether to empty the logging file; "y" = yes
$clearLogFile=    "n";
# Number of taxa to be imported (for testing);  0 = no limit
$readLimit=       0;
# Number of rows to be displayed (for testing); 0 = no limit
$showLimit=       0;

# End of TaxonMatcher.config
